<mat-toolbar color="primary" style="margin-bottom: 20px">
  Hosts's view
</mat-toolbar>

<div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div *ngFor = "let room of messagesByRoom" style="margin-bottom: 10px">
            <mat-card>
              <h5>Client: {{room.room}}</h5>
              <div class="scrollable" style="height: 100px">
                  <div class="msg" *ngFor="let message of room.messages">
                    {{message}}
                  </div>
                </div>
                <br>
                <div class="form-inline">
                  <input class="form-control mr-sm-2" style="width: 80%" (input)="message = $event.target.value" (keyup)="$event.keyCode == 13 && sendMessage(room.room)"/>
                  <button mat-raised-button color="primary" (click)="sendMessage(room.room)">Send</button>
                </div>
              </mat-card>
            </div>
        </div>
    </div>
  </div>

